/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #00000;
    color: white;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 0px;
    background-color:white;

    max-height:0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
